:root {
    --black_900:#000000;
    --indigo_900:#0c098c;
    --teal_100:#b3e5d7;
    --teal_100_7f:#b4e5d77f;
    --white_a700:#ffffff;
    --radius-xs: 24px;
    --radius-xs: 24px;
    --radius-sm: 30px;
    --radius-md: 42px;
    --space-xs: 18px;
    --space-sm: 294px;
    --space-md: 444px;
}